site_name: prefect-gcp
site_url: https://PrefectHQ.github.io/prefect-gcp
repo_url: https://github.com/PrefectHQ/prefect-gcp
edit_uri: edit/main/docs/
theme:
  name: material
  favicon: img/favicon.ico
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
          icon: material/brightness-auto
          name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      accent: blue
      primary: blue
      scheme: default
      toggle:
          icon: material/weather-sunny
          name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      accent: blue
      primary: blue
      scheme: slate
      toggle:
          icon: material/weather-night
          name: Switch to light mode
  icon:
    repo: fontawesome/brands/github
  logo:
    img/prefect-logo-mark-solid-white-500.png
  font:
    text: Inter
    code: Source Code Pro
extra_css:
    - stylesheets/extra.css

markdown_extensions:
    - admonition
    - attr_list
    - codehilite
    - md_in_html
    - meta
    - pymdownx.highlight:
        use_pygments: true
    - pymdownx.superfences
    - pymdownx.tabbed

plugins:
  - search
  - gen-files:
      scripts:
        - docs/gen_ref_pages.py
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: True
            show_object_full_path: False
            show_category_heading: True
            show_bases: True
            show_signature: False
            heading_level: 1
            filters: ["!^_[^_]", "!^__[^__]"]
watch:
    - prefect_gcp/
    - README.md

nav:
    - Home: index.md
    - Credentials: credentials.md
    - Cloud Storage: cloud_storage.md
    - BigQuery: bigquery.md
    - Secret Manager: secret_manager.md
    - Cloud Run: cloud_run.md
    - AI Platform: aiplatform.md