black
coverage
flake8
interrogate
isort
mkdocs
mkdocs-gen-files
mkdocs-material
mkdocstrings[python]
mock; python_version < '3.8'
mypy
pandas
pillow
pre-commit
pyarrow
pytest
pytest-asyncio
pytest-cov
pytest-xdist
